body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dbdce1 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.search_weather {
  padding: 20px;
}
.location {
  display: flex;
  justify-content: center;
  width: 100%;
}

.item {
  margin-top: 20px;
}
.loading {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  padding-top: 20px;
}

.container-image-content,
.container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1.8px solid #fff;
  background-color: #2c3357;
}

.img {
  width: 80px;
}
.p-2 {
  margin-bottom: 0;
  color: #fff;
  font-size: 17px;
}
.p-1 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 17px;
  margin-right: 5px;
}
.card-forescast-select {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.card-forescast {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.card-forescast-p {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 17px;
}

.container-forescast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #2c3357;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .ant-descriptions-item-content {
    width: 100% !important;
  }
}
